body {
  text-align: right;
  font-family: 'Press Start 2P', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.Table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;
  border: 3px solid blue;
  /* font-family: 'Press Start 2P', sans-serif; */
}

.Sub-table {
  border: 10px solid lightgreen;
  width: 100%;
  margin: 10px;
}

.Table-country-scores {
  border: 3px solid black;
  margin: 10px;
  padding-bottom: 15px;
}

.Table-score-line {
  display: flex;
  border-bottom: 3px solid black;
  margin: 0 10px;
}

.Table-cell {
  text-align: right;
  width: 50%;
  padding: 15px;
}

.Table h1, h2 {
  color: lightblue;
  /* font-size: 20px; */
}

.Table h1 {
  margin: 0 0 10px;
}

.Fonts-red {
  color: darkred;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
